extends ../base.jade

block h2
  h2 Add Pokemon

// [START form]
block content
  form(method="POST", enctype="multipart/form-data")
    .form-group
      label(for="name") Name
      input.form-control(type="text", name="name", id="name", value=pokemon.name)
    .form-group
      label(for="number") Number
      input.form-control(type="text", name="number", id="number", value=pokemon.number)
    .form-group
      label(for="description") Description
      input.form-control(type="text", name="description", id="description", value=pokemon.description)
    .form-group
      label(for="types") Comma Seperated list of type. for example: "flying, dragon"
      input.form-control(type="text", name="types", id="types", value=pokemon.types)
    .form-group
      label(for="weight") Weight. If (9.64kg, enter as 9.64)
      input.form-control(type="text", name="weight", id="weight", value=pokemon.weight)
    .form-group
      label(for="height") Type. If (.62m, enter as ".62", if 1.00m, enter as "1.00")
      input.form-control(type="text", name="height", id="height", value=pokemon.height)
    .form-group
      label(for="cost_powerup") Cost to powerup. Enter as "200 stardust, 1 caterpie candy", for example. 
      input.form-control(type="text", name="cost_powerup", id="cost_powerup", value=pokemon.cost_powerup)    
    .form-group
      label(for="cost_evolve") Cost to evolve. Enter as "50 caterpie candy", for example. 
      input.form-control(type="text", name="cost_evolve", id="cost_evolve", value=pokemon.cost_evolve)  
    .form-group
      label(for="image") Image
      input.form-control(type="file", name="image", id="image")
    .form-group.hidden
      label(for="imageUrl") Cover Image URL
      input.form-control(type="text", name="imageUrl", id="imageUrl", value=pokemon.imageUrl)
    button.btn.btn-success(type="submit") Save
// [END form]