extends ../base.jade

block content
  h3 Books

    each pokemon in pokemons
      .media
        a(href="/pokedex/#{pokemon.number}")
          .media-left
            img(src=pokemon.imageUrl || "http://placekitten.com/g/128/192")
          .media-body
            h4= pokemon.name
            p= pokemon.number


  if !pokemons.length
    p No Pokemon Found

  if nextPageToken
    nav
      ul.pager
        li
          a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") More
