extends ../base.jade

block h2
  h2 Pokedex: #{pokemon.name}

block content
  table
    each val, prop in pokemon
      tr
        td= prop
        td= val
        
  each chargemove in chargemoves
    h2 Chargemove:  #{chargemove.name}
    table
      each val, prop in chargemove
        tr
        td= prop
        td= val